[submodule "segmentation/reggrow"]
	path = segmentation/reggrow
	url = https://github.com/biophase/region-growing.git
[submodule "segmentation/cutpursuit"]
	path = segmentation/cutpursuit
	url = https://gitlab.com/1a7r0ch3/parallel-cut-pursuit
